#!/usr/bin/make -f

PY3VER=$(shell py3versions -dvr)
DH_VERBOSE=1

export PYBUILD_TEST_ARGS={dir}/tests

%:
	dh $@ --with python3

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build GDebi/Version.py data/gdebi.desktop po/mo

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/share/applications/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/gdebi/
	python3 ./setup_version.py
	dh_auto_install
	# mv $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/GDebi/*  $(CURDIR)/debian/tmp/usr/share/gdebi/GDebi/
	cp -r $(CURDIR)/data/gdebi.ui $(CURDIR)/debian/tmp/usr/share/gdebi
	cp -r $(CURDIR)/data/gdebi.png $(CURDIR)/debian/tmp/usr/share/gdebi
	cp -r $(CURDIR)/gdebi $(CURDIR)/debian/tmp/usr/share/gdebi/
	cp -r $(CURDIR)/gdebi-gtk $(CURDIR)/debian/tmp/usr/share/gdebi/
	intltool-merge -d po $(CURDIR)/data/gdebi.desktop.in $(CURDIR)/debian/tmp/usr/share/applications/gdebi.desktop
	mkdir -p $(CURDIR)/debian/tmp/usr/share/polkit-1/actions/
	cp -r $(CURDIR)/data/com.ubuntu.pkexec.gdebi-gtk.policy $(CURDIR)/debian/tmp/usr/share/polkit-1/actions/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/application-registry/
	cp -r $(CURDIR)/data/gdebi.applications $(CURDIR)/debian/tmp/usr/share/application-registry/
